    width: 700px;
    height: 170px;
    background-color: pink;
    border: 2px solid palevioletred;
    align-self:center;
    padding: 0 50px;


    width:640px;
    height:25px;
    padding:0 30px